@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background: #252628;
}

nav {
  font-size: 1.2em;
  background-color: #252628;
  padding: 1em;
}

.navbar-nav {
  margin-top: 0.2em;
}

#mainNavbar .nav-link {
  color: #fff;
  padding-bottom: 0.2em;
}

@media screen and (min-width: 768px) {
  #mainNavbar .nav-link {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
    padding: 0.6em 0.6em 0.2em 0.6em;
  }
  #mainNavbar .nav-link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ".";
    color: transparent;
    background: #fff;
    height: 1px;
  }
  #mainNavbar .nav-link:hover:after {
    width: 100%;
  }

  #mainNavbar .nav-link:hover {
    top: -3px;
  }

  #mainNavbar .nav-link:after {
    transition: all 0.5s;
  }
}
#mainNavbar .navbar-brand {
  font-family: "Ms Madi", cursive;
  font-size: 2.4rem;
}

body,
html {
  height: 100%;
  margin: 0;
}

#hero::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../Assets/images/DonGtCup-937-Edit.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.4);
}
#hero {
  position: relative;
  margin-top: 0;
  height: 100%;
}

#hero img {
  object-fit: cover;
  min-height: 20em;
  filter: brightness(0.4);
}

#hero .content {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#hero h1,
#hero h2 {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  #hero .content {
    bottom: 30px;
    left: 40px;
  }
}

.content h1 {
}

h2 {
  font-size: 1.7em;
}

span {
  padding-right: 0.3em;
}

.pageHeader {
  margin-top: 4.5em;
  width: 100%;
  padding: 0px;
}

.coverimg {
  width: 100%;
  filter: brightness(0.4);
  min-height: 15em;
  object-fit: cover;
  margin-bottom: 0.8em;
}

.CoverText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

.CoverText h1 {
  font-size: 1.8em;
}

.GalleryHeaderText h1 {
  font-size: 2.5em;
}

.CoverText p {
  font-size: 1.3em;
}

.CoverText button {
  border: solid 2px #fff;
  background-color: transparent;
  color: #fff;
  padding: 0.3em 0.8em;
  transition: all 0.5s;
}
.CoverText button:hover {
  background-color: #fff;
  color: #000;
  padding: 0.3em 0.8em;
}

#contactGalleryBanner {
  filter: brightness(0.45);
}

.grid img {
  width: 100%;
  margin-bottom: 0.8em;
}

.grid {
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 0.1em;
}

.galleryCard {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}

.galleryCard .galleryCardText {
  position: absolute;
  padding: 0.5em;
  bottom: -80%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.galleryCardText a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 768px) {
  .galleryCard .galleryCardText {
    background: rgba(0, 0, 0, 0.3);
  }
}

.galleryCard img {
  scale: 1.1;
  transition: all 0.5s;
}

.galleryCard:hover img {
  transform: translateY(-10px);
}

.galleryCardText button {
  display: none;
  border: solid 2px #fff;
  background-color: transparent;
  color: #fff;
  padding: 0.3em 0.8em;
  transition: all 0.5s;
}
.galleryCardText button:hover {
  background-color: #fff;
  color: #000;
  padding: 0.3em 0.8em;
}

.galleryCard:hover .galleryCardText {
  bottom: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
  padding-top: 25%;
}

.galleryCard:hover button {
  display: block;
  margin: auto;
}

.galleryCardText h1 {
  font-weight: 300;
  font-size: 1.4em;
}

@media screen and (max-width: 1300px) {
  .galleryCardText h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .galleryCardText h1 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 600px) {
  .galleryCardText h1 {
    font-size: 1em;
  }
}

@media screen and (max-width: 575.9px) {
  .galleryCardText h1 {
    font-size: 1.4em;
  }
}

@media (min-width: 370px) and (max-width: 400px) {
  .galleryCard .galleryCardText {
    position: absolute;
    bottom: -83%;
  }
}

@media (min-width: 400px) and (max-width: 575.9px) {
  .galleryCard .galleryCardText {
    position: absolute;
    bottom: -85%;
  }
}
